{% load tags %}
<div class="message background4 color0" id="message{{m.pk}}" style="{{ m.stem|marginHTML }}">
    <div class="textContainer rel">
        <p>{{m.text|safe}}</p>
        <p class="info"> 
            <span>
                {{m.username}}
            </span>,
            <span>
                {{m.age}}
            </span>
        </p>
        <div id="reply{{m.pk}}" class="replyContainer hide background3 rel">
            <div class="replyX abs fright clicker">X</div>
            <textarea placeholder="" class="" ></textarea>
            <button id="replied{{m.pk}}" class="reply clicker abs"> Reply </button>
            <div class="errors hide"></div>
        </div>
        <button id="replyTo{{m.pk}}" class="replyTo clicker abs fright"> Reply to {{m.username}} </button>
    </div>
</div>