{% extends 'base.html' %}

{% block content %}

<div id="popupSpace" class="hide abs fright background3 mar15 shadow level5 popupSpace"></div>
<div id="topLoad" class="fixed level3 top3" ></div>
<div id="map" class="hide"></div>
<div id="Discussion" class="background2 fright fixed">
  <table class="color0 background3" id="topSpace">
    <tr>
      <td id="logo"class="clicker fs20 " ><a href="/" class="mar10">K</a></td>
      <td class=" fs12 ">
        {{title}}
      </td>
      <td class="fright" id="appendAdmin"></td>
    </tr>
    <tr>
      <td></td>
      <td id="info" class=" fs8   bold">{{schedule}}</td>

      <td class="fright clear" >
        <button id="nameSave" class="background4 miniInput"> Save </button>
        <input type="text" placeholder=" Your name" id="name" class="miniInput">
      </td>
    </tr>
  </table>
    {% if private and not admin %}
        <div id="hidePW">
            <div class="color0 mar20 regularInputs">
                <h2> Private </h2>
                <input type="text" placeholder="Password" class="pw" >
                <button class="color0 background1 joinPriv" id="joinPriv{{pk}}"> Join </button>
            </div>
        </div>
    {% endif %}
  <div id="dWrap">
    <div id="dFill" ></div>
  </div>
  <div class="clear"></div>
  <div id="sendWrap" class="background3 fixed level2">
    <div class="errors color0 hide"></div>
    <div id="message0">
      <div class="hide background3 rel replyContainer pad5">
        <div class="errors hide"></div>
        <div class="attachments color0" ></div>
        <textarea placeholder="Write a message . . ." class="replyText inline" ></textarea>
        <div class="" >
            <button class="send"> Send </button>
            <button class="attach  background4 "> Attach files or images </button>
            <button  class="draw  background4 "> Draw </button>
            <span class="replyX clicker color0 mar5 fs20">X</span>
        </div>
      </div>
    </div>
    <button id="newThread" class="mar5 bold" >New topic</button>
  </div>
</div>
<script>
    Settings.createMap = false;
    $(document).ready(function(){
        {% if password %} K.password='{{password|safe}}'; {% endif %}
        {#      If K.discussion is set, than conversation will load automatically when the socket connects.           #}
        {% if admin %}  
            K.admin();
            K.discussion = {{pk|safe}};
        {% elif not private %}
            K.discussion = {{pk|safe}};
        {% endif %}
    });
</script>
{% endblock %}