{% extends 'base.html' %}

{% block content %}
<style>
#Discussion{
    width:100%;
    height: 89%;
}
#Discussion #dFill{
    overflow-y:scroll;
    max-height:78%;
    margin-bottom:4em;
}
</style>
<div id="popupSpace" class="hide abs fright background3 mar15 shadow"></div>
<div id="topLoad" class="abs level3 top3" ></div>
<div id="map" class="hide"></div>
<div id="Discussion" class="background2 fright">
  <div id="topSpace"class="background3 color0" >
    <div id="dX"class="fleft abs clicker background3 hide" >X</div>
    <div id="dTitle" class="pad5 left2 fs18 abs">{{ title }}</div>
  </div>
  <div id="dFill" >
  </div>
    {% if private and not admin %}
        <div id="hidePW">
            <div class="color0 mar20">
                <h2> Private </h2>
                <input type="text" placeholder="Password" class="pw" >
                <button class="color0 background1 joinPriv" id="joinPriv{{pk}}"> Join </button>
            </div>
        </div>
    {% endif %}
  <div class="clear"></div>
  <div id="sendWrap" class="background3">
    <div class="errors color0 hide"></div>
    <textarea placeholder=" Start a thread..." class="" readonly></textarea>{% csrf_token %}
    <button id="send" class="abs "> Send </button>
    <div id="namePart" class="fright">
      <input type="text" placeholder=" Your name" id="name">
      <button id="nameSave" class="background4 "> Save </button>
      <p id="yourName" class="color0"></p>
    </div>
  </div>
</div>
<script>
    Settings.createMap = false;
    $(document).ready(function(){
        {% if password %} K.password='{{password|safe}}'; {% endif %}
        {#      If K.discussion is set, than conversation will load automatically when the socket connects.           #}
        {% if admin %}  
            K.admin();
            K.discussion = {{pk|safe}};
        {% elif not private %}
            K.discussion = {{pk|safe}};
        {% endif %}
    });
</script>
{% endblock %}