<div class="hide">

{#
    New pop up 
#}

<div id="newPopup">
  <h1>Move to a location</h1>
  <input type="text" placeholder=" Discussion title">{% csrf_token %}
  <button class="submit background1 clicker">Save</button>
</div>

{#
    Load icon
#}
<div id="Loader" class="hide">
  <div id="loadIcon" class="">
    <div class="f_circleG" id="frotateG_01"></div>
    <div class="f_circleG" id="frotateG_02"></div>
    <div class="f_circleG" id="frotateG_03"></div>
    <div class="f_circleG" id="frotateG_04"></div>
    <div class="f_circleG" id="frotateG_05"></div>
    <div class="f_circleG" id="frotateG_06"></div>
    <div class="f_circleG" id="frotateG_07"></div>
    <div class="f_circleG" id="frotateG_08"></div> 
  </div>
</div>

</div>