<div class="hide">

{#      New pop up      #}

<div id="newPopup">
  <h1>Move to a location</h1>
</div>

{#      new discussion and edit form      #}
<div id="newDisc">
  <div class="center">
    <input type="text" placeholder=" Discussion title" class="dTitle">
    <div class="clearL fs12 private mar5" title="Make this discussion password protected">Private <input type="checkbox"> </div>
    <input type="text" placeholder=" Discussion password" class="hide pw mar5">
    <div class="selectTime">
      <p class="fs7">Set a time (optional)</p>
      <input type="text" placeholder="Date" class="pDay mar10" >
      <input type="text" placeholder="Start time" class="pTimeStart" > to
      <input type="text" placeholder="End time" class="pTimeEnd" >
    </div>
    <div class="clearL fs12 checkbox location mar5" title="Checking this means your discussion will show on the map." >Show location <input type="checkbox" checked> </div>
    <button class="dSubmit background1 mar5">Save</button>
    <button class="background5 mar5 hide delete" >Delete</button>
    <div class="errors"></div>
    {% csrf_token %}
  </div>
</div>

{#      Delete prompt     #}
<div id="deletePrompt">
  <p>This discussion will be removed immediately.  Are you sure you want to do this?</p>
  <button class="background5 mar5 pX" id="deleteCommit">Delete</button>
  <button class="background4 mar5 pX" >Cancel</button>
</div>

{#      Load icon       #}
<div id="Loader" class="hide">
  <div id="loadIcon" class="">
    <div class="f_circleG" id="frotateG_01"></div>
    <div class="f_circleG" id="frotateG_02"></div>
    <div class="f_circleG" id="frotateG_03"></div>
    <div class="f_circleG" id="frotateG_04"></div>
    <div class="f_circleG" id="frotateG_05"></div>
    <div class="f_circleG" id="frotateG_06"></div>
    <div class="f_circleG" id="frotateG_07"></div>
    <div class="f_circleG" id="frotateG_08"></div> 
  </div>
</div>


{#      Admin UI      #}

<div id="adminTemplate">
  <div class="admin pad5 left4 fright top0 abs">
    <button class="cancelAdmin hide background5">Cancel</button>
    <button class="doneAdmin hide background1">Submit</button>
    <button class="editAdmin background4">Edit</button>
    <button class="addAdmin background4">Add admin</button>
    <button class="removeClient background4">Remove client</button>
    <div class="color0 adminAction hide abs"></div>
  </div>
</div>

{#      popup message     #}
<div id="popupTemplate">
<div class="color0 background3">
  <div class="abs fright clicker pad10 fs18 pX">X</div>
  <div class="background3 pad20 fleft popup">
    <p class=" popupTitle fs16 center"><!-- title --></p>
    <p class=" popupMessage"><!-- message --></p>
  </div>
</div>
</div>

{#      Checkbox for selecting client     #}
<div id="selectClient" >
  <input type="checkbox" class="cSelect abs level2 fright right2">
</div>

{#      Announcement      #}
<div id="annouceTemplate">
  <div class="background4 color1 pad5">
    <div class="textContainer rel announce">
      <!-- message -->
    </div>
  </div>
</div>




</div>{# end hide #}