{% extends 'base.html' %}
{% load staticfiles %}

{% block lHead %}
  <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
  <link href="{% static 'js/jquery/jquery-ui-1.10.3.custom.min.css' %}" rel='stylesheet' />
  <!--[if lte IE 8]>
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' >
  <![endif]-->
  <script src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>

{% endblock %}
{% block fHead %}
<script src="{% static 'js/jquery/jquery-ui-1.10.3.custom.min.js' %}"></script>
  <link href="{% static 'css/feed.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
  
<div id="menu" class="fright color1">
    <div class="mItem background2 clicker" id="start">
        Start discussion
    </div>
</div>

<div id="popupSpace" class="hide fixed fright background3 mar15 shadow level5 popupSpace"></div>
<div id="topLoad" class="fixed level3 left2" ></div>
<div id="map" class="fixed level0"></div>

<div id="feedWrap" class="abs fleft">
  <div id="feed" class="">
    
  </div>
  <div class="clear" ></div>
</div>

<div id="Discussion" class="hide background2 fright fixed">
  <div id="topSpace"class="background3 color0" >
    <div id="dX"class="fleft abs clicker background3" >X</div>
    <a id="titleLink" href="/" target="_blank" class=""><div id="dTitle" class="pad5 left2 fs12 "><!-- title --></div></a>
    <p id="info" class="abs fs8 top2 left4 bold"><!--schedule --></p>
  </div>
  <div id="dFill" ></div>
  <div class="clear"></div>
  <div id="sendWrap" class="background3">
    <div class="errors color0 hide"></div>
    <div id="message0">
      <div class="hide background3 rel replyContainer">
        <div class="replyX abs fright clicker">X</div>
        <div class="attachments  color0" ></div>
        <textarea placeholder="Write a message . . ."  ></textarea>
        <button class="send abs"> Send </button>
        <button class="attach abs background4 top3"> Attach files or images </button>
        <button  class="draw abs background4 top5"> Draw </button>
        <div class="errors hide"></div>
      </div>
    </div>
    <button id="newThread" class="leve2">New topic</button>
    <div id="namePart" class="fright abs top0">
      <div class="fright">
        <span id="yourName" class="color0 pad0 fs6"></span>
        <input type="text" placeholder=" Your name" id="name" class="">
        <button id="nameSave" class="background4 "> Save </button>
      </div>
       <p class="mar15 fright clear" ><span class="color0" > Share </span><input type="text" id="dLink" class="color3"/></p>
    </div>
  </div>
</div>
{% csrf_token %}
{% endblock %}