#Discussion{
    border: 1px solid;
    z-index: 2;
    top: 0px;
    width:100%;
    height: 89%;
}
#Discussion #dFill{
    overflow-y:scroll;
    overflow-x:hidden;
    max-height:78%;
    margin-bottom:4em;
    width:100%;
}
#topSpace{
    width: 100%;
    height: 3.5em;
    border-bottom: 1px solid #5F5F5F;
}
#dX{
    z-index:4;
    top:0px;
    padding:9px;
    font-size: 1.5em;
}
#sendWrap{
    border: 1px solid;
    position: absolute;
    width: 100%;
    top:88.5%;
    min-height: 320px;
}
#sendWrap input,#sendWrap textarea,#sendWrap button{
}

#sendWrap #send{
    padding: 20px;
}
#namePart *{
    padding:5px;
}
#dLink{
}

.textContainer{
    padding:4px;
    font-size:.8em;
    margin-top:4px;
    position:relative;
    max-width:94%;
}
.textContainer div{
    max-width:81%;
}
.replyContainer button, .textContainer button{
    padding:5px;
}

.message .textContainer .info{
    font-size:.84em;
}

.message .replyContainer{
    margin-top:5px;
    padding:5px;
}
.message .replyTo{
    bottom:0px;
}
.message .replyX{
    padding:5px;
}
.deletingFile{
    border: 1px solid red;
}
