#Discussion{
    border: 1px solid;
    z-index: 2;
    top: 0px;
    width:100%;height:100%;
    overflow-y:scroll;
}
#Discussion #dWrap{
    height: 100%;
    padding-bottom:16em;
}
#Discussion #dFill{
    overflow-x:hidden;
    width:100%;
}
#topSpace{
    width: 100%;
    min-height: 3.5em;
    border-bottom: 1px solid #5F5F5F;
}
#dX{
    z-index:4;
    top:0px;
}
#sendWrap{
    border-top: 1px solid #5F5F5F;
    width: 100%;
    min-height: 60px;
    bottom:0px;
}
#sendWrap #send{
    padding: 20px;
}
#sendWrap textarea{
    max-height: 160px;
}
#namePart{
    height:55px;
}
#namePart *{
    padding:5px;
}

.textContainer{
    padding:4px;
    font-size:.8em;
    margin-top:4px;
    position:relative;
}
.textContainer div{
}
.textContainer button{
    padding:3px;
}
.replyContainer button{
    padding:5px;
}

.message .textContainer .info{
    font-size:.84em;
}

.message .replyContainer{
    margin-top:5px;
    padding:5px;
}
.message .replyTo{
    bottom:0px;
}
.message .replyX{
    padding:5px;
}
.deletingFile{
    border: 1px solid red;
}
