
#feedWrap{
    position: absolute;
    background: url('/static/images/feed_bg.png');
    width:25%; min-height: 100%; top:0px;
    min-width: 125px;
}
html body{
    overflow-y: scroll;
}

#feedWrap #feed .dFeed{
    margin-top: 10px;
}

/*   MOBILE   */
#toggleView{
    visibility:hidden;
}
@media all and (max-width: 480px) {
    #feedWrap{
        width:100%;
        padding-top:45px;
    }
    #toggleView{
        visibility:visible;
    }
    #menu .mItem{
        padding:12px;
        border-radius:0px;
        font-size:1.3em;
    }
}