*{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body{
    max-height: 100%;
}
.abs{position: absolute;}
.rel{position: relative;}
.fleft{
    float:left;
    left:0px;
}
.fright{
    float:right;
    right:0px;
}
.hide{
    display: none;
}
.clear{clear: both;}
.clearL{clear: left;}
.clicker{
    cursor: pointer;
}
input[type="text"], textarea{
    padding:10px;
    border:none;
    border-radius: 3px;
}
input[type="checkbox"]{
    width: 22px;
    height: 22px;
    margin-top:6px;
}
.color0{color:white}
.background0{background:white}

.color1{color:#78b677;}
.background1{background:#78b677;}

.color2{color:#2b2b2b;}
.background2{background:#2b2b2b;}

.color3{color:#3A3A3A;}
.background3{background: #3A3A3A;}

.color4{color:#5F5F5F;}
.background4{background: #5F5F5F;}

.fs14{font-size: 1.4em;}
.fs16{font-size: 1.6em;}
.fs18{font-size: 1.8em;}
.fs20{font-size: 2em;}

button{
    border:none;
    background:#78b677;
    color:white;
    padding:10px;
    border-radius: 2px;
}

#map{
    position: absolute;
    top:0; bottom:0;
    width:100%;
}

#menu{
    position:fixed;
    top:0px;right:0;
    z-index:2;
}

#menu .mItem{
    padding:25px;
    font-size:1.4em;
    border-bottom-left-radius:12px;
}
#menu .mItem:hover{
    background: #3A3A3A;
}

.leaflet-popup-content-wrapper,.leaflet-popup-tip{
    background:#3A3A3A;
    color:white;
}
.join{
    font-size: 1.65em;
}

